$nav-bg-color: rgb(43, 44, 54)

@mixin grid-areas
  > a
    &:nth-child(1)
      grid-area: a
    &:nth-child(2)
      grid-area: b
    &:nth-child(3)
      grid-area: c
    &:nth-child(4)
      grid-area: d
    &:nth-child(5)
      grid-area: e
  .portfolio__button-container
    grid-area: f

body
  font-family: 'Open Sans', sans-serif
  color: #2b2c36
h2
  font-size: 4rem
h4
  font-size: 1.8rem
p
  font-size: 1rem

.navbar
  position: fixed
  left: 0
  right: 0
  display: flex
  justify-content: space-around
  align-items: center
  min-height: 10vh
  background-color: $nav-bg-color
  color: white
  z-index: 999
  &__links
    width: 33%
    display: flex
    justify-content: space-around
    align-items: center
    flex-wrap: wrap
    list-style: none
    & > *
      color: white
      text-decoration: none
    &-aside
      display: fixed
  &__drawer
    background-color: $nav-bg-color
    position: fixed
    top: 0
    left: 0
    right: 0
    bottom: 0
    &-enter
      animation-name: drawer-enter
      animation-duration: 0.2s
      transition-timing-function: ease-out;
    &-exit
      animation-name: drawer-exit
      animation-duration: 0.2s
      animation-direction: reverse
      transform: translateX(110%)
      transition-timing-function: ease-in;

.banner__image
  width: 100%
  max-height: 100vh
.container
  width: 60%
  margin: 16px auto
  @media only screen and (max-width: 600px)
    width: 100%
.learn-more
  display: flex
  flex-direction: row
  justify-content: center
  flex-wrap: wrap
  &__text
    flex: 1 1
    min-width: 300px
    max-width: 500px
    display: flex
    flex-direction: column
    flex-wrap: nowrap
    justify-content: center
    align-self: center
    padding: 16px
  &__image
    max-width: 500px
    max-height: 500px
    flex: 1 1
    &-container
      flex: 1 1
      align-self: center
      min-width: 400px
      display: flex
      justify-content: center
      padding: 16px
      @media only screen and (max-width: 800px)
        min-width: 300px

.info
  flex: 1 1 250px
  margin: 5px
  &__container
    display: flex
    flex-wrap: wrap
    justify-content: center
    &-outer
      display: flex
      flex-direction: column
      margin: 16px



//PORTFOLIO
.portfolio
  @include grid-areas
  display: grid
  //grid-template-columns: repeat(auto-fit, minmax(300px, 1fr))
  align-items: stretch
  grid-template: 300px 300px 1fr / 1fr 1fr 1fr
  grid-template-areas: "a b c" "d e c" "f f f"
  @media only screen and (max-width: 900px)
    @include grid-areas
    grid-template: 300px 300px 300px 1fr / 1fr 1fr
    grid-template-areas: "a b" "c d" "c e" "f f"
  @media only screen and (max-width: 600px)
    @include grid-areas
    //grid-template: repeat(auto-fit, minmax(300px,1fr))
    grid-template: repeat(6, 300px) / 1fr
    grid-template-areas: "a" "b" "c" "c" "d" "e" "f"
  & > a
    position: relative
    background-size: cover
    width: 100%
    //max-height: 100%
    //height: 200px
    
    &::after
      content: ""
      display: block
      position: absolute
      bottom: 0
      left: 0
      right: 0
      width: 100%
      height: 0
      z-index: 10
      background-color: rgba(0, 0, 0, 0.4)
      transition: height 0.1s ease-out
    &:hover::after
      height: 100%
      content: "Learn more"
      color: rgba(255, 255, 255, 1)
      padding: 50px
      font-size: 2rem
      text-align: center
  &__button-container
    background-color: cadetblue
    height: 100px
    display: flex
    justify-content: center
    align-items: center
  
  
//FOOTER
.footer
  display: flex
  justify-content: space-between
  flex-wrap: wrap
  align-items: baseline
  padding: 68px
  background-color: $nav-bg-color
  color: white
  @media only screen and (max-width: 464px)
    justify-content: center
  &__links
    display: flex
    flex-grow: 1
    flex-shrink: 0
    flex-wrap: wrap
    justify-content: center
    & > *

  &__credits
    display: flex




//KEYFRAMES
@keyframes drawer-enter
  0%
    transform: translateX(110%)
    //left: 400px
  100%
    transform: translateX(0%)
@keyframes drawer-exit
  0%
    transform: translateX(110%)
    //left: 400px
  100%
    transform: translateX(0%)