html {
  scrollbar-width: thin;
}

body {
  font-family: 'Open Sans', sans-serif !important;
  color: #2b2c36;
  overflow-x: hidden;
}

h1 {
  font-size: 4.4rem;
  font-weight: 300;
  text-transform: uppercase;
}

h2 {
  font-size: 4rem;
  margin: 0;
  margin-bottom: 16px;
}

h3 {
  font-size: 2.5rem;
  margin-bottom: 16px;
}

h4 {
  font-size: 1.8rem;
  margin: 24px 0;
}

p {
  font-size: 1rem;
  white-space: pre-line;
}

.navbar__logo + .navbar__links {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  padding-right: 8px;
  padding-left: 8px;
  min-width: 330px;
  max-width: 580px;
}

.navbar__logo + .navbar__links > * {
  -webkit-box-flex: 0;
      -ms-flex: 0 0;
          flex: 0 0;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 10vh;
  background-color: #2b2c36;
  color: white;
  z-index: 999;
}

.navbar__current {
  color: #ff2b58;
}

.navbar__logo {
  margin: 12px 8px 6px 40px;
  width: 33%;
}

.navbar__logo > img {
  height: 35px;
}

.navbar__links {
  width: 33%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;
}

.navbar__links-social {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-right: 32px;
  padding-left: 0;
}

.navbar__links-social > li {
  margin-right: 8px;
}

.navbar__links-social > li > a {
  height: 24px;
  display: block;
}

.navbar__links > :hover {
  color: #ff2b58;
}

.navbar__links > * {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
}

.navbar__links-aside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 40vh auto;
  padding: 0;
}

.navbar__social {
  all: unset;
  cursor: pointer;
}

.navbar__drawer {
  background-color: #2b2c36;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.navbar__drawer-enter {
  -webkit-animation-name: drawer-enter;
          animation-name: drawer-enter;
  -webkit-animation-duration: 0.2s;
          animation-duration: 0.2s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
}

.navbar__drawer-exit {
  -webkit-animation-name: drawer-exit;
          animation-name: drawer-exit;
  -webkit-animation-duration: 0.2s;
          animation-duration: 0.2s;
  animation-direction: reverse;
  -webkit-transform: translateX(110%);
          transform: translateX(110%);
  -webkit-transition-timing-function: ease-in;
          transition-timing-function: ease-in;
}

@media only screen and (max-width: 750px) {
  .banner {
    margin-top: 20px;
  }
}

@media only screen and (max-width: 650px) {
  .banner {
    margin-top: 50px;
  }
}

.banner__image {
  width: 100%;
  max-height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
}

.container {
  width: 60%;
  margin: 16px auto;
}

@media only screen and (max-width: 600px) {
  .container {
    width: 100%;
  }
  .container > h2 {
    margin-left: 32px;
  }
}

.banner__half {
  height: 360px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  font-weight: normal;
}

.banner__half > * {
  margin-top: 100px;
  text-shadow: 1px 1px 8px #0000005c;
}

.learn-more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 120px 0;
}

.learn-more__text {
  -webkit-box-flex: 1;
      -ms-flex: 1 1;
          flex: 1 1;
  min-width: 300px;
  max-width: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: center;
      align-self: center;
  padding: 16px;
}

.learn-more__image {
  max-width: 500px;
  max-height: 500px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1;
          flex: 1 1;
}

.learn-more__image-container {
  -webkit-box-flex: 1;
      -ms-flex: 1 1;
          flex: 1 1;
  -ms-flex-item-align: center;
      align-self: center;
  min-width: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 16px;
}

@media only screen and (max-width: 800px) {
  .learn-more__image-container {
    min-width: 300px;
  }
}

.info {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 250px;
          flex: 1 1 250px;
  margin: 8px;
}

@media only screen and (max-width: 1830px) {
  .info {
    -ms-flex-preferred-size: 40%;
        flex-basis: 40%;
  }
}

@media only screen and (max-width: 1370px) {
  .info {
    -ms-flex-preferred-size: 250px;
        flex-basis: 250px;
  }
}

.info__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 16px 0;
}

.info__container-outer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 120px 16px;
}

.portfolio {
  margin: 120px 0;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-grid-rows: 350px 350px 1fr;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template: 350px 350px 1fr / 1fr 1fr 1fr;
      grid-template-areas: "a b c" "d e c" "f f f";
}

.portfolio > a:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: a;
}

.portfolio > a:nth-child(1):hover::after {
  content: "Traffic analysis tool";
}

.portfolio > a:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: b;
}

.portfolio > a:nth-child(2):hover::after {
  content: "Pic Share";
}

.portfolio > a:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 3;
  grid-area: c;
}

.portfolio > a:nth-child(3):hover::after {
  content: "CMS";
}

.portfolio > a:nth-child(4) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: d;
}

.portfolio > a:nth-child(4):hover::after {
  content: "Galery app";
}

.portfolio > a:nth-child(5) {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: e;
}

.portfolio > a:nth-child(5):hover::after {
  content: "Social media";
}

.portfolio .portfolio__button-container {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: f;
  height: 140px;
}

@media only screen and (max-width: 900px) {
  .portfolio {
    -ms-grid-rows: 350px 350px 350px 1fr;
    -ms-grid-columns: 1fr 1fr;
        grid-template: 350px 350px 350px 1fr / 1fr 1fr;
        grid-template-areas: "a b" "c d" "c e" "f f";
  }
  .portfolio > a:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: a;
  }
  .portfolio > a:nth-child(1):hover::after {
    content: "Traffic analysis tool";
  }
  .portfolio > a:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: b;
  }
  .portfolio > a:nth-child(2):hover::after {
    content: "Pic Share";
  }
  .portfolio > a:nth-child(3) {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-column: 3;
    grid-area: c;
  }
  .portfolio > a:nth-child(3):hover::after {
    content: "CMS";
  }
  .portfolio > a:nth-child(4) {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: d;
  }
  .portfolio > a:nth-child(4):hover::after {
    content: "Galery app";
  }
  .portfolio > a:nth-child(5) {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    grid-area: e;
  }
  .portfolio > a:nth-child(5):hover::after {
    content: "Social media";
  }
  .portfolio .portfolio__button-container {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: f;
    height: 140px;
  }
}

@media only screen and (max-width: 600px) {
  .portfolio {
    -ms-grid-rows: (350px)[6];
    -ms-grid-columns: 1fr;
        grid-template: repeat(6, 350px)/1fr;
        grid-template-areas: "a" "b" "c" "c" "d" "e" "f";
  }
  .portfolio > a:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: a;
  }
  .portfolio > a:nth-child(1):hover::after {
    content: "Traffic analysis tool";
  }
  .portfolio > a:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: b;
  }
  .portfolio > a:nth-child(2):hover::after {
    content: "Pic Share";
  }
  .portfolio > a:nth-child(3) {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-column: 3;
    grid-area: c;
  }
  .portfolio > a:nth-child(3):hover::after {
    content: "CMS";
  }
  .portfolio > a:nth-child(4) {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: d;
  }
  .portfolio > a:nth-child(4):hover::after {
    content: "Galery app";
  }
  .portfolio > a:nth-child(5) {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    grid-area: e;
  }
  .portfolio > a:nth-child(5):hover::after {
    content: "Social media";
  }
  .portfolio .portfolio__button-container {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: f;
    height: 140px;
  }
}

.portfolio > a {
  position: relative;
  background-size: cover;
  width: 100%;
}

.portfolio > a::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 0;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.4);
  -webkit-transition: height 0.1s ease-out;
  transition: height 0.1s ease-out;
}

.portfolio > a:hover::after {
  height: 100%;
  content: "Learn more";
  color: white;
  padding: 50px;
  font-size: 2rem;
  text-align: center;
  text-shadow: 1px 2px 1px black;
}

.portfolio__button-container {
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

.portfolio__main {
  margin: 0;
  -ms-grid-rows: 350px 350px 350px;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template: 350px 350px 350px / 1fr 1fr 1fr;
      grid-template-areas: "a b c" "d e c" "f g h";
}

.portfolio__main > a:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: a;
}

.portfolio__main > a:nth-child(1):hover::after {
  content: "Traffic analysis tool";
}

.portfolio__main > a:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: b;
}

.portfolio__main > a:nth-child(2):hover::after {
  content: "Pic Share";
}

.portfolio__main > a:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 3;
  grid-area: c;
}

.portfolio__main > a:nth-child(3):hover::after {
  content: "CMS";
}

.portfolio__main > a:nth-child(4) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: d;
}

.portfolio__main > a:nth-child(4):hover::after {
  content: "Galery app";
}

.portfolio__main > a:nth-child(5) {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: e;
}

.portfolio__main > a:nth-child(5):hover::after {
  content: "Social media";
}

.portfolio__main > a:nth-child(6) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: f;
}

.portfolio__main > a:nth-child(6):hover::after {
  content: "News app";
}

.portfolio__main > a:nth-child(7) {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: g;
}

.portfolio__main > a:nth-child(7):hover::after {
  content: "Banking app";
}

.portfolio__main > a:nth-child(8) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  grid-area: h;
}

.portfolio__main > a:nth-child(8):hover::after {
  content: "E-Comerce";
}

@media only screen and (max-width: 900px) {
  .portfolio__main {
    -ms-grid-rows: 350px 350px 350px 350px 350px;
    -ms-grid-columns: 1fr 1fr;
        grid-template: 350px 350px 350px 350px 350px / 1fr 1fr;
        grid-template-areas: "a b" "c d" "c e" "f g" "h h";
  }
  .portfolio__main > a:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: a;
  }
  .portfolio__main > a:nth-child(1):hover::after {
    content: "Traffic analysis tool";
  }
  .portfolio__main > a:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: b;
  }
  .portfolio__main > a:nth-child(2):hover::after {
    content: "Pic Share";
  }
  .portfolio__main > a:nth-child(3) {
    -ms-grid-row: 2;
    -ms-grid-row-span: 2;
    -ms-grid-column: 1;
    grid-area: c;
  }
  .portfolio__main > a:nth-child(3):hover::after {
    content: "CMS";
  }
  .portfolio__main > a:nth-child(4) {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    grid-area: d;
  }
  .portfolio__main > a:nth-child(4):hover::after {
    content: "Galery app";
  }
  .portfolio__main > a:nth-child(5) {
    -ms-grid-row: 3;
    -ms-grid-column: 2;
    grid-area: e;
  }
  .portfolio__main > a:nth-child(5):hover::after {
    content: "Social media";
  }
  .portfolio__main > a:nth-child(6) {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    grid-area: f;
  }
  .portfolio__main > a:nth-child(6):hover::after {
    content: "News app";
  }
  .portfolio__main > a:nth-child(7) {
    -ms-grid-row: 4;
    -ms-grid-column: 2;
    grid-area: g;
  }
  .portfolio__main > a:nth-child(7):hover::after {
    content: "Banking app";
  }
  .portfolio__main > a:nth-child(8) {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: h;
  }
  .portfolio__main > a:nth-child(8):hover::after {
    content: "E-Comerce";
  }
}

@media only screen and (max-width: 600px) {
  .portfolio__main {
    -ms-grid-rows: (350px)[9];
    -ms-grid-columns: 1fr;
        grid-template: repeat(9, 350px)/1fr;
        grid-template-areas: "a" "b" "c" "c" "d" "e" "f" "g" "h";
  }
  .portfolio__main > a:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: a;
  }
  .portfolio__main > a:nth-child(1):hover::after {
    content: "Traffic analysis tool";
  }
  .portfolio__main > a:nth-child(2) {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: b;
  }
  .portfolio__main > a:nth-child(2):hover::after {
    content: "Pic Share";
  }
  .portfolio__main > a:nth-child(3) {
    -ms-grid-row: 3;
    -ms-grid-row-span: 2;
    -ms-grid-column: 1;
    grid-area: c;
  }
  .portfolio__main > a:nth-child(3):hover::after {
    content: "CMS";
  }
  .portfolio__main > a:nth-child(4) {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
    grid-area: d;
  }
  .portfolio__main > a:nth-child(4):hover::after {
    content: "Galery app";
  }
  .portfolio__main > a:nth-child(5) {
    -ms-grid-row: 6;
    -ms-grid-column: 1;
    grid-area: e;
  }
  .portfolio__main > a:nth-child(5):hover::after {
    content: "Social media";
  }
  .portfolio__main > a:nth-child(6) {
    -ms-grid-row: 7;
    -ms-grid-column: 1;
    grid-area: f;
  }
  .portfolio__main > a:nth-child(6):hover::after {
    content: "News app";
  }
  .portfolio__main > a:nth-child(7) {
    -ms-grid-row: 8;
    -ms-grid-column: 1;
    grid-area: g;
  }
  .portfolio__main > a:nth-child(7):hover::after {
    content: "Banking app";
  }
  .portfolio__main > a:nth-child(8) {
    -ms-grid-row: 9;
    -ms-grid-column: 1;
    grid-area: h;
  }
  .portfolio__main > a:nth-child(8):hover::after {
    content: "E-Comerce";
  }
}

.testimonials__hide-overflow {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: auto;
  background-color: #fafafa;
  z-index: 10;
  margin-top: 8px;
}

.testimonials__hide-overflow-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.testimonials__slide-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.testimonials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 120px 0;
}

.testimonials__group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 900px) {
  .testimonials__group {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.testimonials__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50%;
  margin: 8px 0;
}

.testimonials__container > p {
  height: 70px;
  padding-left: 16px;
  padding-right: 16px;
}

@media only screen and (max-width: 900px) {
  .testimonials__container > p {
    height: 100px;
  }
}

@media only screen and (max-width: 370px) {
  .testimonials__container > p {
    height: 130px;
  }
}

.testimonials__user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.testimonials__user-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.testimonials__name {
  font-weight: bold;
}

.testimonials__company {
  font-size: 0.9rem;
  color: #9698a3;
}

.testimonials__img {
  height: 60px;
  width: 60px;
  min-width: 60px;
  max-width: 60px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  margin-right: 8px;
  margin-left: 16px;
}

.testimonials__button-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.testimonials__button-container > button {
  width: 24px;
  min-width: 24px;
  padding: 6px 16px;
  margin-bottom: 32px;
}

.MuiButton-root:hover {
  background-color: unset !important;
}

.contact-home {
  height: 400px;
  background-color: #ff2b58;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  text-align: center;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  padding: 68px;
  background-color: #2b2c36;
  color: white;
}

@media only screen and (max-width: 464px) {
  .footer {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.footer__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-items: center;
  padding-left: 0;
}

.footer__links > * {
  padding-right: 8px;
  padding-left: 8px;
  font-size: 1rem;
}

.footer__credits {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.buttons {
  padding: 12px 24px !important;
  border: 1px solid #ff2b58 !important;
  border-radius: 0 !important;
  color: #ff2b58 !important;
  font-size: 1rem !important;
  font-weight: bold !important;
}

.buttons__container {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: 8px 0;
  text-decoration: none;
}

.buttons:hover {
  background-color: #ff2b58 !important;
  color: white !important;
}

.buttons-white {
  border-color: white !important;
  color: white !important;
}

.buttons-white:hover {
  background-color: white !important;
  color: black !important;
}

.about__h3p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 16px 0;
}

.about__h3p > * {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
}

.about__h3p-inner {
  margin-left: 16px;
}

.about__text-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 16px;
}

.about__image {
  max-height: 300px;
  min-width: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  padding: 16px;
}

.about__h3p + .about__h3p {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.about__ordered {
  line-height: 1;
}

.about__ordered-outer {
  margin-top: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 8rem 2.5rem;
  color: white;
  background-image: url("./assets/about/meeting.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

@media only screen and (max-width: 1130px) {
  .about__ordered-outer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.about__ordered-outer > div {
  padding: 16px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 350px;
          flex: 1 1 350px;
}

@media only screen and (max-width: 1130px) {
  .about__ordered-outer > div {
    -ms-flex-preferred-size: 200px;
        flex-basis: 200px;
  }
}

.about__ordered-outer > div > p {
  word-break: normal;
}

.contact__h2 {
  margin-bottom: 0;
  margin-top: 40px;
}

.contact__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 16px 0;
}

.contact__info > h4 {
  padding-left: 16px;
}

.contact__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 120px;
}

.contact__main > * {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
}

.contact__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 16px;
}

.contact__user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0 4px;
}

@media only screen and (max-width: 400px) {
  .contact__user {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contact__user > * {
    width: 100%;
  }
}

.contact__user > * {
  padding: 0 4px !important;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
}

.contact__message {
  padding: 8px;
  width: 100%;
}

.contact__message > * {
  width: 100%;
}

.contact__button {
  margin-top: 8px !important;
  background-color: #ff2b58 !important;
  color: white !important;
}

.contact__button:hover {
  background-color: white !important;
  color: #ff2b58 !important;
}

@-webkit-keyframes drawer-enter {
  0% {
    -webkit-transform: translateX(110%);
            transform: translateX(110%);
  }
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

@keyframes drawer-enter {
  0% {
    -webkit-transform: translateX(110%);
            transform: translateX(110%);
  }
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

@-webkit-keyframes drawer-exit {
  0% {
    -webkit-transform: translateX(110%);
            transform: translateX(110%);
  }
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

@keyframes drawer-exit {
  0% {
    -webkit-transform: translateX(110%);
            transform: translateX(110%);
  }
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}
/*# sourceMappingURL=App.css.map */